[submodule "libs/LLDSP"]
	path = libs/LLDSP
	url = https://github.com/HamishDelap/LetsLearnDSP.git
[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "cmake-includes"]
	path = cmake-includes
	url = https://github.com/sudara/cmake-includes.git
